{{ if isset .Params "asciinema" }}
  <link rel="stylesheet" type="text/css" href="{{ "asciinema-player.css" | relURL }}" />
  <script src="{{ "asciinema-player.min.js" | relURL }}"></script>
{{ end }}

{{ if isset .Params "p5js-widget" }}
  <script src="//toolness.github.io/p5.js-widget/p5-widget.js" width="200"></script>
  
{{ end }}

<link rel="stylesheet" href="/highlight/styles/obsidian.min.css">
<script src="/highlight/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css" rel="stylesheet" />